<div class="chart-container">
    <canvas baseChart 
        [datasets]="lineChartData"
        [labels]="lineChartLabels"
        [options]="lineChartOptions"
        [colors]="lineChartColors"
        [chartType]="lineChartType"
        [legend]="false">    
    </canvas>
</div>


    


