<form class="example-form" [formGroup]="formGroup" (ngSubmit)="onSubmit()">
  <div>
    <mat-form-field class="example-full-width">
      <mat-label>Year</mat-label>
      <input type="text"
        placeholder="Pick one"
        aria-label="Year"
        matInput
        formControlName="year"
        [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete" >
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
          {{option}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>
  <div>
    <button mat-raised-button color="primary" 
      [disabled]="formGroup.invalid">
      Point on chart
    </button>
  </div> 
</form>
  


