<mat-grid-list [cols]="8" [rowHeight]="'fit'" style="height: 100%;">
    <mat-grid-tile [colspan]="tiles[0].cols" [rowspan]="tiles[0].rows" class="header">
        <span class="title">Assignment</span>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="tiles[1].cols" [rowspan]="tiles[1].rows">
        <app-chart></app-chart>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="tiles[2].cols" [rowspan]="tiles[2].rows">
        <app-form></app-form>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="tiles[3].cols" [rowspan]="tiles[3].rows" style="background-color: gray;">
        <span class="footer">developed by George Gligoris</span>
    </mat-grid-tile>
</mat-grid-list>