.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}
  
.example-full-width {
  width: 100%;
}

.header {
  background: url("/assets/images/wave.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.footer {
  background-color: rgba(131, 131, 131, 0.993);
}

.main {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.form {
  margin: 20px;
}

.container {
  display: flex;
  flex-direction: row;
}

.header >::ng-deep .mat-figure{
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 30px;
}

.title {
  font-size: 4rem;
  color:rgba(0, 0, 0, 0.521);
  font-family: dirty;
  transform: rotate(-20deg);
}

.footer {
  text-align: center;
  color: rgb(201, 201, 201);
  font-size: medium;
}