html, body {
    height: 100%; 
}
body {
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    background-color: white;
    background-image: linear-gradient(to bottom right, white, rgba(18, 18, 250, 0.041));
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

@font-face {
    font-family: dirty;
    src: url(assets/fonts/DIRTYEGO.TTF) format("opentype");
}